@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, Ubuntu, Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
h5 {
  font-family: 'Montserrat', -apple-system, Ubuntu, Roboto, sans-serif;
}

h1,
h2 {
  font-family: 'Poppins', Ubuntu, Roboto, sans-serif;
}
