.homeContainer {
  width: 100vw;
  max-width: 100%;

  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: #fff;
}

.header img {
  margin: 5px 0 5px 30px;
  height: 80px;
}

.header ul {
  list-style: none;
  display: inline-flex;
}

.header ul li + li {
  margin-left: 50px;
}

.header ul :last-child {
  margin-right: 20px;
}

.header ul li .active {
  color: #fa4a0c;
}

.links {
  font-size: 1rem;
  color: #252b42;
  font-weight: 600;
}

.banner {
  background: center url('/banner1.svg') no-repeat;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  color: #fff;
}

.banner h5 {
  font-weight: 700;
  font-size: 1.5rem;
  font-family: 'Poppins';

  margin-top: -80px;
}

.banner h1 {
  font-weight: 700;
  font-size: 3.375rem;

  text-align: center;

  margin-top: -20px;
}

.banner p {
  font-weight: 500;
  font-size: 1.5rem;

  margin-top: -10px;
}

.buttons button {
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 700;

  background: #fa4a0c;
  color: #fff;
  border: none;

  padding: 1rem;

  cursor: pointer;
}

.buttons button + button {
  margin-left: 20px;
  background: transparent;

  border: 1px solid #fff;
}

.phones img {
  height: 800px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: -140px;
}

.line {
  border: 1px solid #e4e4e4;
  width: 884px;

  margin: 0 auto;
  margin-top: -50px;
}

.secondBanner {
  margin-top: 60px;
}

.secondBanner h1 {
  color: #000000;
  font-weight: 600;
  text-align: center;
  /* height: 100vh;
   */
}

.secondBanner div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* margin-top: -70px; */
}

.secondBanner .description {
  display: flex;
  flex-direction: column;

  align-items: self-start;
  margin-left: 100px;
}

.secondBanner .description h5 {
  color: #fa4a0c;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1px;
  line-height: 36px;
}

.secondBanner .description p {
  color: #252b42;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.2px;
  line-height: 57px;
}

.secondBanner .description small {
  color: #737373;
  font-size: 1.5rem;
  line-height: 38px;
  letter-spacing: 0.2px;
}

.footerEnd {
  padding: 12px;
}
.footerContent {
  padding: 30px;
}

.footerImg {
  background: center url('/footer.png') no-repeat;
}

.footerContent h1 {
  margin-top: 0;
}

.footerContent p {
  margin-top: 0;
}

.footerContent .buttons button {
  border-radius: 10px;
}

.footerButtons button {
  border-radius: 10px;
}
